html {
    font-size: 100%;
    overflow-y: scroll;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: none
}



body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-size: 14px;
    line-height: 1.61;
    font-weight: 400
}



/*Display: flex declaration*/
div.container div.row, div.skill-grid
{display: flex; flex-wrap: wrap;}

div.container {

    justify-content: center;
}
li{
    list-style: none;
}
.exp, .pers,
div.skill-grid,
li.skill img.skill-ico,
li.skill {
    padding: 0;
}

div.skill-grid{
    margin: 0;
}

header.doc-title {
   margin-top: 25px;
}

@media only screen and (max-width: 767px){
    li.skill img.skill-ico {
       padding: 5px;
       border-radius: 15px;
    }
}

@media only screen and (min-width: 768px){
    ul.skill-grid {
        margin-top: 25px;
    }
    li.skill img.skill-ico {
        padding: 4px;
        border-radius: 15px;
     }
    header.doc-title {
        order: -3;
    }
    div.hero {
        order: -2;
    }
    div.skill-grid{
        order: -1;
    }   
    li.exp {
        min-height: 180px;
    } 
}

body,
button,
input,
select,
textarea {
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

a {
    color: #c90b0b;
}

a:visited {
 
    outline: none;
}

a:focus {
    outline: none;
}

a:hover,
a:active {
    color: #c00;
    outline: 0
}

b,
strong {
    font-weight: bold
}

pre,
code {
    font-family: monospace, monospace;
    font-size: 1em
}

ul,
ol {
    margin: 1em 0;
    padding: 0 0 0 20px
}

img {
    border: 0;
    max-width: 100%
}

body {
    background: #fff;
    position: relative;
    padding-bottom: 20rem;
    min-height: 100vh;
}

header,
footer,
.container {
    max-width: 45em;
    margin: 0 auto
}


header {
    padding: 0 .5em;
    color: #c90b0b
}

header img {
    border-radius: 50%;
    float: left;
    width: 95px;
    position: absolute;
    top: -10px;
    border: 1px solid #ccc;
}

header p {
    font-size: 1.5em;
    font-weight: bold;
    padding-left: 4em
}

header p span {
    font-size: .8em;
    font-weight: normal
}

.hero {
    padding: 2em;
    background-color: #f8f8f8;
    font-size: 1.2em;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}



@media only screen and (min-width: 630px){
    .hero {        
        border-radius: 10px;
        border: 1px solid #ccc;
    }
}


.content {
    padding: 1em 1em
}

.content li {
    list-style-type: none;
    font-size: 1.1em
}

.content li.exp h2,
.content li.pers h2 {
    color: #727EA0;
}

.content li span.year {
    font-weight: 700;
}

li img {
    float: left;
    padding-right: 1em
}

li p {
    font-size: .9em;
    font-style: italic
}

footer {
    padding: 0 .5em;
    border-top: 1px solid #ccc
}

footer span {
    float: right;
   
}

footer.container-fluid{
    width: 100%;
    max-width: 100%;
    color: white;
    background-color: #303030;
    position: absolute;
    bottom: 0;
}


footer ul li.right,
footer ul li.center {
    text-align: center;
}

@media only screen and (max-width: 767px){
    footer ul li {
        text-align: center;
        margin-bottom: 15px;
    }
    footer ul li.right a {
        padding-left: 1.9em;
        padding-right: 1.9em;
    }
    

}

@media only screen and (min-width: 768px){
    footer ul li.center {
        text-align: center;
    }
    footer ul li.right {
        text-align: right;
        margin-top: 20px;
    }
    footer ul li.left div {
        text-align: center
    }
}

footer ul {
    margin: 0;
}

footer ul li.right a {
    padding-left: 0.7em;
    padding-right: 0.7em;
}



footer ul li h2 {
    margin-top: 20px;
}

footer ul li h4 {
    font-size: 12px;
}

footer ul li.center img {
    max-width: 100px;
    margin: auto;
    display: block;
    float: none;
    border-radius: 50%;
}
.fa {
    color: white;
    font-size: 45px;
}
@media only screen and (max-width:480px) {
    body {
        font-size: 12px
    }
}

header p {
    padding-left: 6.5em
}

.grow { transition: all .24s ease-in-out; }
.grow:hover { transform: scale(1.07); }